<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="container">
                <table class="users">
                    <thead>
                        <tr>
                            <th>User email</th>
                            <th>User firstname</th>
                            <th>User lastname</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    
                    
                </table>
        </div>
        <script>
        
        $.ajax({
            
        })
        
        </script>
</body>
</html>