body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../css/images/mikayla-mallek-219946-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
}

.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    max-width: 360px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: 'Lato', sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input[type="submit"] {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form input[type="submit"]:hover,
.form input[type="submit"]:active {
    background: #43A057;
}

.form .message {
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 16px;
}

.form a {
    color: blue;
    text-decoration: none;
}

.form .login-form {
    display: none;
}
